[2016-03-08 19:34] jeiting opened #1 "Most integer types silently ignored by identify"
[code]

This code will not be able to map any integer type that isn't cast to an `int` type, this includes `long`s and `NSIntegers`, basically most of the integer types that are used in iOS programming.

[2016-03-10 00:58] ldiqual opened #2 "Get notified when Appboy.sharedInstance is initted"
I couldn't figure out a way to get notified when segment triggers `integration.initWithSettings` (which [creates the Appboy singleton](https://github.com/Appboy/appboy-segment-ios/blob/master/Pod/Classes/SEGAppboyIntegration.m#L30-L32)).

My use case is that I want to enable NUI theming app-wide, whether I open the newsfeed explicitly or when getting an inapp notification. Usually you would put th

[2016-03-11 17:34] briancaw commented on #1
Hi @jeiting

Thanks for reporting this.  We're looking into this and should have a fix out in the near future.  We'll update with a timeline ASAP.

Thanks,
Brian

[2016-03-11 17:46] briancaw commented on #2
Hey @ldiqual

Thanks for inquiring - it looks like you can subscribe to notifications that Segment fires off on integration init...see https://github.com/segmentio/analytics-ios/blob/master/Pod/Classes/SEGAnalytics.m#L379.  We haven't tested that out yet though, and we'll want check with Segment to ensure that's a supported interface.  We should be able to confirm sometime in the couple business d

[2016-03-11 18:43] f2prateek commented on #2
That's right - you can use that to be notified and use the key posted to filter out the Appboy integration.

[2016-03-14 19:10] jeiting commented on #1
This bug also extends to `float`s

[2016-03-14 19:29] Wenzhi commented on #1
Hi @jeiting,

Our iOS SDK excepts `double` for custom attributes, instead of `float`. You can see the code [here](https://github.com/Appboy/appboy-ios-sdk/blob/master/AppboyKit/headers/AppboyKitLibrary/ABKUser.h#L198).

Is there any reason that you cannot use `double` but must use `float` for custom attributes? We’re happy to consider modifying our interface given more information

Thanks,
Wenzhi

[2016-03-14 20:08] jeiting commented on #1
This will continue to be a point of confusion because generally passing a float in place of double will be handled, the linked example will automatically upcast to a double. For the segment integration it just fails silently and does nothing. This means that any time I pass an `NSNumber` I have to make sure its internal representation matches one that the SEG Appboy integration can handle.

[2016-03-14 21:38] ldiqual opened #3 "Make `instance` return an instancetype to avoid conditional casting"
How about making `instance` return an `instancetype` instead of a generic `id` here? https://github.com/Appboy/appboy-segment-ios/blob/master/Pod/Classes/SEGAppboyIntegrationFactory.h#L6

This way we could avoid casting to `SEGAppboyIntegrationFactory` when setting up the segment configuration.

[code]

[2016-03-14 21:40] ldiqual commented on #2
@briancaw @f2prateek Oh, great find! Since it wasn't exposed publicly, I had to declare that key in my bridging header:

[code]

For reference, here's the related segment issue: https://github.com/segmentio/analytics-ios/issues/513

[2016-03-14 21:40] #2 closed

[2016-03-16 22:05] Wenzhi commented on #3
Hi @ldiqual,

I think it's a good suggestion, and we will put it in the next release.

Thank you!
Wenzhi

[2016-03-22 18:59] Wenzhi commented on #1
Hi @jeiting,

We just released a new SDK 1.0.2 which also supports short, float and long types as custom attribute values. If you could test and confirm it resolves your issue it'd be greatly appreciated.

Thanks,
Wenzhi

[2016-03-22 18:59] Wenzhi commented on #3
Hi @ldiqual,

We just released version 1.0.2, which has the change.

Thanks for helping us improving our code!
Wenzhi

[2016-03-22 18:59] #3 closed

[2016-03-24 18:12] ldiqual opened #4 "`"Appboy-iOS-SDK/AppboyKit.h" file not found` with cocoapods 1.0.0.beta.6"
Hey there!

I get the following error when building with cocoapods 1.0.0.beta.6 dependencies:

[code]

which refers to this line: https://github.com/Appboy/appboy-segment-ios/blob/master/Pod/Classes/SEGAppboyIntegration.m#L2

My pod version is 1.0.0 (not the latest), but those lines are unchanged in the last version so I believe it doesn't matter here.

Temporary fix (notice the underscores):

[co

[2016-03-24 21:02] ldiqual commented on #3
@Wenzhi Thanks! Much appreciated.

[2016-04-12 23:54] ldiqual commented on #4
Bump cc @briancaw

[2016-04-12 23:57] briancaw commented on #1
Hi @jeiting

Thanks again for reporting this.  Please re-open if you find any part of our solution can/should be improved.

Thanks,
Brian

[2016-04-12 23:57] #1 closed

[2016-04-12 23:58] briancaw commented on #4
Hey @ldiqual

Apologies for the delay here this one slipped by our reporting somehow.  We'll be investigating shortly and will respond with our findings ASAP.

Thanks,
Brian

[2016-04-21 18:27] Wenzhi commented on #4
Hi @ldiqual,

Thanks for reaching out for the issue and providing a solution! I think the issue is caused by how Cocoapods generates frameworks: when using `use_frameworks!` in Podfile, all `Appboy-iOS-SDK` become `Appboy_iOS_SDK`.

I will ask Cocoapods team about the issue, also how we should handle it as an SDK. For now, I think your solution with Podfile change would be good.

Thanks again!
Wen

[2016-07-07 00:53] ldiqual opened #5 "Bump analytics compatibility to 3.2+"
The current pod version is not compatible with analytics-ios 3.2. 3.2.0 is now a month old and we're at 3.2.5 as we speak.

Related issue (segment-mixpanel): https://github.com/segment-integrations/analytics-ios-integration-mixpanel/issues/11

[2016-07-11 10:24] BenjaminPrieur commented on #4
Hi guys,

This issue could be fixed with this piece of code (You are using it in Segment-Amplitude)
[code]

I will really appreciate if you could integrate it in your next release ;)
Thanks
Ben

[2016-07-25 17:01] Wenzhi commented on #5
Hi @ldiqual,

We updated our SDK's [podspec](https://github.com/Appboy/appboy-segment-ios/blob/master/Segment-Appboy.podspec#L24) to point to analytics 3.0. So if you run `pod update`, it should update the analytics SDK to the latest 3.x version.

Did you see any issue with updating the dependency? Could you list the steps to reproduce?

Thanks,
Wenzhi

[2016-07-25 17:50] ldiqual commented on #5
@Wenzhi My bad, it was the mixpanel pod that wasn't updated yet. All good! Thanks

[2016-07-25 17:50] #5 closed

[2016-08-01 20:01] Wenzhi commented on #4
Hey All,

We updated the SDK with the change that fixes this issue. Please check the latest version - 1.0.4 - and feel free to reopen if you're still seeing the issue.

Special thanks for the code, @BenjaminPrieur!

Thanks,
Wenzhi

[2016-09-19 20:40] chshapiro commented on #4
Hey @anand00,

Can you let us know what version of Segment-Appboy you are using? And can you let us know what version of Cocoapods you are using?

We're actively debugging against current versions; thanks for reporting!

Thanks,
Chava

[2016-11-28 14:27] Voley opened #6 "ld: symbol(s) not found for architecture x86_64"
I'm trying to add Segment-appboy integration, and after having issues with headers, which refused to work, now I have issue with linker:

[code]

My headers:

[code]

My code:

[code]

My podfile:

[code]

My main issue is that in Segment integration guide there is no mention of what headers to include, I did the same as in example app, but they fail to compile in my project, probably due to use_f

[2016-11-28 14:59] #6 closed

[2016-11-28 15:46] briancaw commented on #6
Hi @Voley

Apologies for the confusion here; glad you got it resolved.  Please let us know if there's anything in particular we should add to the documentation to make it more clear/useful.

Thanks,
Brian

[2016-11-29 19:33] Voley commented on #6
I forgot to add part of podfile that is there in example app. After I added it, all worked well.

[2016-12-22 16:44] YMMBilal opened #7 "Invalid Property Value class __NSArrayM"
Hi,

When I want to send a `NSArray` on an event, this `NSArray` is converted to a `NSMutableArray` by `SEGCoerceJSONObject` (from `SEGAnalyticsUtils.m`).
Yet, Appboy does not handle `NSMutableArray` but `NSArray`. So the Xcode debugger prints the following information :

Can you fix it ?

Thanks in advance,
Bilal

[2016-12-22 18:43] chshapiro commented on #7
Hi @YMMBilal ,

Thank you for reaching out and reporting this issue.

Are you trying to pass an NSArray with key "allergies" as a property on an event?

For custom event properties, we only support properties of types NSString, NSNumber, and NSDate. We don't support properties of any type of array.

Please reach out out if you have any further questions or if this is not the issue you were having.

[2016-12-23 19:20] f2prateek commented on #7
hey @chshapiro, the segment spec does allow for arrays (e.g. https://segment.com/docs/spec/ecommerce/v2/#product-list-viewed).

If Appboy's SDK doesn't accept arrays, then it should filter those properties it doesn't handle at the integration level. If it does not accept NSMutableArray/NSMutableDictionary (but accepts NSArray/NSDictionary), then it should convert those in the integration to their

[2016-12-27 20:00] chshapiro commented on #7
Hi @f2prateek,

Thank you for the advice!  Currently when an event is passed down with an array property, the SDK tracks the event and logs all other valid properties, and filters out the invalid array property. We log this error message to let the developer know about the abandoned property. Is this the same as your suggestion?

If you have any further question or suggestions, please let us know.

[2016-12-27 21:57] f2prateek commented on #7
@chshapiro not quite. The current behaviour is that the AppBoy SDK rejects the properties, but since the Segment SDK sends NSMutableArrays, those will be rejected. To handle this correctly with Segment, the integration (this repo, not the AppBoy SDK) should convert NSMutableArray to NSArray.

[2016-12-28 15:59] chshapiro commented on #7
Hi @f2prateek

Thanks for that info.  Currently our SDK does not allow any kind of array for properties, so we're not rejecting anything that could be transformed into valid data.

In general we definitely agree that we should transform data where possible to conform to our APIs.  However, we're wary of copying validation logic from our core SDK to this wrapper, as we suspect the value add isn't w

[2016-12-28 21:45] f2prateek commented on #7
@chshapiro I see, could you clarify what happens if a customer calls `[analytics track:@"Some Event" properties:@{ @"some_valid_property": @"foo", @"some_array_property": @[ @"foo", @"bar" ] }];`.

My understanding is that because of `some_array_property`, AppBoy drops the `Some Event` entirely, instead of rejecting just the array property and accepting the event with `some_valid_property`.

If Ap

[2016-12-29 11:37] qclmnt commented on #7
I don't really understand why Segment accept NSArray and not the Appboy integration. It should be available too... Otherwise you use an other integration with Array and that one with string... It is a little bit worrying.

[2016-12-29 16:47] chshapiro commented on #7
Hi @qclmnt,

Our Segment integration aims to map Segment's interface to our SDK's inteface in a way that is as complete as possible.

Given that Segment is routing requests from one interface to several other, different interfaces (developed separately), there are bound to be places where something is present in one interface and not another.

If there's functionality that can be transformed to ma

[2016-12-29 19:42] f2prateek commented on #7
@qclmnt to build on what @chshapiro said, the issue here isn't that the integration doesn't accept NSArray properties, but that the Appboy SDK itself doesn't accept NSArray properties.

[2016-12-30 09:02] qclmnt commented on #7
@f2prateek we are able to send Array by our server integration, that's why I didn't understood

[2016-12-30 11:10] f2prateek commented on #7
Interesting, @chshapiro is it true that the appboy server api accepts arrays but the client side appboy sdk does not?

[2016-12-30 17:32] briancaw commented on #4
Hi @anand00

Any update here - are you still having this issue?  Going to close this out for now, but please let us know if you still have this issue.

Thanks,
Brian

[2016-12-30 17:32] #4 closed

[2016-12-30 22:24] briancaw commented on #7
Hi @qclmnt and @f2prateek

There's a few different places to consider:
- Our [core SDKs](https://github.com/appboy/appboy-ios-sdk) only support arrays in custom user attributes.
- Our [Rest API](https://www.appboy.com/documentation/REST_API/#user-attributes-object-specification) only supports arrays for custom user attributes (other arrays in the API are just batching data).
- Our Segment wrapper

[2017-01-06 17:02] briancaw commented on #7
Hi All,

We've added custom attribute array support to our issue queue for our next release.  We're aiming to get that out in Q1.  The reported issue was expected behavior, so closing for now.  Please reopen if you have any further questions/comments.

Thanks,
Brian

[2017-01-06 17:02] #7 closed

[2017-04-10 14:12] FiRiN59 opened #9 "Add support for EU data centers"
For EU data centers Appboy requires to override SDK endpoint: https://www.appboy.com/documentation/FAQs/#im-using-the-eu-database-what-do-i-need-to-do-differently

[2017-04-10 16:08] briancaw commented on #9
Hi @FiRiN59

Right now you can listen to when our SDK has started via https://segment.com/docs/sources/mobile/ios/#how-do-i-know-when-an-integration-is-initialized- and then set the delegate manually on the sharedInstance.  e.g.

```[Appboy sharedInstance].appboyEndpointDelegate = myDelegate```

Optionally you can also modify the `SegAppboyIntegration.m` in this repo to directly create and pass yo

[2017-04-10 17:25] FiRiN59 commented on #9
Hey @briancaw,

The notification trick worked for me, thank you!

[2017-05-12 15:18] qclmnt opened #10 "warning AppBoy shared instance"
Hi,

We are experiencing a weird warning :

[code]

but AppBoy is initialized before :

[code]

SDK : Segment-Appboy
SDK Version :
[code]
iOS : 10

[2017-05-12 15:53] chshapiro commented on #10
Hey @qclmnt,
According to your code snippet,  the warning can be due to `[[Appboy sharedInstance] registerPushToken:****];` getting called before Appboy is fully initialized. You should be able to confirm that by adding a breakpoint and checking the `[Appboy sharedInstance]` object.

Is there a reason you're not following the documentation in https://segment.com/docs/integrations/appboy/#integrati

[2017-05-24 17:41] #9 closed

[2017-05-24 17:47] chshapiro commented on #10
Hey @qclmnt,

Were you able to confirm that this solution worked for you? Do you still have issues or questions? Please let us know if this is still a problem for you.

Thanks, Chava

[2017-05-29 12:50] qclmnt commented on #10
Hi @chshapiro,

sorry for the late response.
This link : https://segment.com/docs/sources/mobile/ios/#how-do-i-know-when-an-integration-is-initialized- actually works great and fix the bug.

But I just fixed the doc, on the doc it's `integration.name` instead of: `integration`

The good solution :
[code]

[2017-05-29 12:50] #10 closed

[2017-06-15 04:11] ldiqual opened #11 "Integration performs UI call on background thread"
When running our app on Xcode 9 beta 1, which includes a UI call checker on background threads in debug mode, we notice the following error:

[code]

Which links to this line: https://github.com/Appboy/appboy-segment-ios/blob/master/Pod/Classes/SEGAppboyIntegration.m#L219

[2017-06-15 15:39] chshapiro commented on #11
Hey @ldiqual,

It seems that this is a common issue that people are reporting for Xcode 9. We are working on a fix to make all `[UIApplication sharedApplication]` calls in the main thread, which should be released next week.

If you need a fix sooner, our code is open source and you can follow the steps in https://stackoverflow.com/questions/5606145/calling-a-method-on-the-main-thread to make all

[2017-06-15 21:54] ldiqual commented on #11
@chshapiro Thanks for following up! We don't need an immediate fix since we can disable the checker, just let me know when a new version is out and I'll be happy to test it. Thanks!

[2017-06-22 15:05] chshapiro commented on #11
Hey @ldiqual,

We just released Segment-Appboy 1.0.6, which should fix this issue. Please let us know if you see any more problems.

Thanks,
Chava

[2017-08-03 21:33] marcvanolmen opened #12 "Feature Request: SEGAppboyIntegrationFactory doesn't seem to reflect the new iOS 10 notifications."
it would be nice if we could install a callback that gets triggered when segment finally initializes the AppBoy Instance with the Factory class. Because assume the following scenario

1.  app is not running
2. app gets opened by AbbBoy Notifications Deeplink the user clicked on.
3. App is getting started but Segment is not yet initialized at that moment (and also not AppBoy) when the NotificationC

[2017-08-03 21:48] chshapiro commented on #12
Hey @marcvanolmen,

Segment has an observer where you can get notified once the initialization is complete. The related docs and sample code is here https://segment.com/docs/sources/mobile/ios/#how-do-i-know-when-an-destination-is-initialized-.

Please let us know if this solves your issue.

Thanks,
Chava

[2017-08-03 22:24] marcvanolmen commented on #12
I just implemented above technique and it worked perfectly thanks for the work around ! (and rapid support answer!)

[2017-08-03 22:24] #12 closed

[2017-08-03 23:40] chshapiro commented on #11
Hey @ldiqual,

I'm going to close out this issue. If you have any more questions or still see this issue, feel free to reopen.

Thanks,
Chava

[2017-08-03 23:40] #11 closed

[2017-08-23 23:39] ldiqual opened #13 "2.0.0 – 'ABKAppboyEndpointDelegate.h' file not found"
[code]

[code]

[2017-08-25 14:51] chshapiro commented on #13
Hey @ldiqual,

Thank you for reporting this issue! We have tried reproducing but cannot seem to get the same error message. Can you provide us with some more information about how you integrate and use Segment-Appboy:
- What version of Cocoapods are you using?
- Are you using `use_frameworks!` in your Podfile?
- Did you set a custom endpoint on Segment's dashboard?
- At what point are you getting

[2017-09-15 22:23] JamesJSY commented on #13
@chshapiro
Hi Chava!

I am having the same issue. For the questions -
1. 1.3.1
2. Yes
3. Nope
4. pod install is all good. Error occurs when building the project

One difference is that i use 3.0.2 as the Appboy-iOS-SDK

Looking forward to hearing from you!

Thank you!
Shiyuan

[2017-09-18 18:59] chshapiro commented on #13
Hey @JamesJSY,

We just released version 2.0.1 which we think should fix this issue. Can you test it out and let us know if you still have any problems?

Thanks,
Chava

[2017-09-18 20:08] JamesJSY commented on #13
Thanks @chshapiro! Works now :D

[2017-09-19 16:13] #13 closed

[2017-09-20 10:11] bojan opened #14 "Bitcode issues with version 2.0.1"
Archiving an app that integrates Appboy through Segment as a pod, returns the following errors:

[code]

This is the only output from the logs.

[2017-09-20 15:37] chshapiro commented on #14
Hey @bojan,

Are you using Xcode 9 when you're trying to archive the app?
What version of our iOS SDK are you? As of version 3.1.0, we require Xcode 9 to be used.

Thanks,
Chava

[2017-09-20 18:57] bojan commented on #14
@chshapiro nope, we're using Xcode 8.3.3. We thought this release of the Segment integration (2.0.1) was just a bugfix for the Cocoapods header issue (`Appboy_iOS_SDK` vs `Appboy-iOS-SDK`).
Is there any alternative?

[2017-09-20 19:22] chshapiro commented on #14
Hey @bojan,

In this version, we also pull the latest version of the iOS SDK which requires Xcode 9. To get around this, you can add `pod 'Appboy-iOS-SDK', '~> 3.0.2'` to your Podfile which will pull an older version of the iOS SDK that does not require Xcode 9.

Please let us know if this fixes your issue or if you have any other questions.

Thanks,
Chava

[2017-09-20 20:06] bojan commented on #14
Thanks @chshapiro for the help! It works now 🎉
Could you maybe update the Readme regarding the build environment?

The configuration that worked for us for Xcode 8.3.3 was:
[code]

[2017-09-20 20:06] #14 closed

[2017-10-10 10:18] ghbsara opened #15 "Use of undeclared identifier 'ABKSDKFlavorKey' ,'SEGMENT'"
Hi,

I get the following errors when building with cocoapods 1.3.1

[code]

Podfile :

`pod 'Segment-Appboy'`

- i'm using use_frameworks! in my Podfile

[2017-10-10 15:38] chshapiro commented on #15
Hey @ghbsara,

Can you check your Podfile.lock and see what version of 'Segment-Appboy' and 'Appboy-iOS-SDK' you are pulling?

Thanks,
Chava

[2017-10-10 15:43] ghbsara commented on #15
Appboy-iOS-SDK (2.25.0)
Segment-Appboy (2.0.0)

[2017-10-10 16:53] chshapiro commented on #15
Hey @ghbsara,

`ABKSDKFlavorKey` was introduced in Appboy-iOS-SDK version 2.29.0. Can you run `pod update` and see if that will pull the latest version of the SDK?

Segment-Appboy 2.0.0 supports Appboy-iOS-SDK 3.0.0+ (https://github.com/Appboy/appboy-segment-ios/blob/master/CHANGELOG.md#200).

Thanks,
Chava

[2017-10-10 17:05] ghbsara commented on #15
After running pod update :
Appboy-iOS-SDK (2.25.0) (still the same)
Segment-Appboy (2.0.1)

[2017-10-10 21:54] chshapiro commented on #15
Hey @ghbsara,

2.25.0 is the last version that uses SDWebImage 3.x. Are you using SDWebImage in your app?

If not, I wonder if there is an issue with the Cocoapods gem on your computer. Could you follow https://guides.cocoapods.org/using/troubleshooting.html and see if that uninstall/re-install fixes the issue and let you pull the latest version of Appboy-iOS-SDK?

Thanks,
Chava

[2017-10-11 08:19] ghbsara commented on #15
yes i'm using SDWebImage (3.7.6) in my app

[2017-10-11 12:36] chshapiro commented on #15
Hey @ghbsara,

Appboy-Segment version 1.0.4 is the last one that can work properly together with SDWebImage 3.x.
Can you try either using SDWebImage 4.0 in your app or using Appboy-Segment 1.0.4?

Please let us know if this doesn't work or if you have any other questions.

Thanks,
Chava

[2017-10-11 12:57] ghbsara commented on #15
Thanks @chshapiro for the help! It works now

[2017-10-11 12:57] #15 closed

[2017-10-18 12:34] ghbsara opened #16 "XCode 9: Main Thread Checker: ../Pods/Segment-Appboy/Pod/Classes/SEGAppboyIntegration.m: runtime: UI API called from background thread: -[UIApplication delegate] must be used from main thread only"
Hey,

Using the 1.0.4 version with XCode 9 on iOS 11 .

This is the backtrace I got:
[code]

Thanks,

[2017-10-18 13:28] chshapiro commented on #16
Hey @ghbsara,

We fixed this issue in version 1.0.6. Can you try updating to that version and see if that fixes your issue?

Thanks,
Chava

[2017-10-18 13:57] ghbsara commented on #16
Hey @chshapiro,

Which  'SDWebImage' version are you using in this version (1.0.6) ?

Thanks

[2017-10-18 14:00] chshapiro commented on #16
Hey @ghbsara,

Version 1.0.6 uses SDWebImage 4.0.

Chava

[2017-10-18 14:14] ghbsara commented on #16
Thanks

[2017-10-18 14:14] #16 closed

[2017-10-19 23:46] JohnTheBastard opened #17 "No Carthage Support"
Carthage support would be helpful, even if the framework is only available as a precompiled download.

[2017-10-30 17:06] chshapiro commented on #17
Hey @JohnTheBastard,

Thank you for submitting this request! Improving ease-of-integration is a top priority for us. We'll be investigating our alternatives/executing on this over the coming months and will be in touch as we do so.

Thanks,
Chava

[2017-11-14 08:39] tanduynguyen opened #19 "Will it support tvOS?"
I really want to use this SDK on tvOS, please :(

[2018-11-21 11:35] alexis-letexier commented on #17
@chshapiro Any update on this ?

Thanks !

[2018-11-21 22:59] Bucimis commented on #17
Thanks @alexis-letexier, we're still evaluating this project. What workarounds are you using currently?

[2018-11-28 21:43] Bucimis commented on #17
Thanks for the additional context @alexis-letexier, we've added carthage support to our backlog and will keep you in the loop as things move forward. Note that we don't have an ETA at this time.

[2019-01-15 20:20] farshadtx commented on #17
Is there any update here? any roadmap? I'm trying to choose tools for the next project and I need to know if supporting Carthage is going to happen soon.

[2019-01-18 18:10] Bucimis commented on #17
Hi @farshadtx, we're still evaluating carthage support for segment at this time. If you are starting a project now, we'd recommend using Cocoapods or importing our source directly (this is a very simple library with only a few files).

If you need to use Carthage and having a simple .framework file would work for your needs, you can generate one through cocoapods using the Example xcworkspace or c

[2019-06-12 09:13] J-Mendes opened #21 "Missing cards on NewsFeed screen"
Hi,

I'm using Braze through Segment to integrate on an iOS app and recently I'm facing an issue that on NewsFeed some of the cards just disappear for some users.

On my investigation around this, I've set up the example project with my Segment write key and identify with my user id so I can have a clean environment to test it properly.

The first attempt, with the project on its defaults, I was a

[2019-06-12 09:39] J-Mendes commented on #21
From further investigation, I've found that this starts happening on version `3.14.1` of `Appboy-iOS-SDK`.

[2019-06-12 23:11] Bucimis commented on #21
@J-Mendes thanks for filing. Do things still work when using `3.14.0` and only break when going to `3.14.1`? Could you provide us with more logs (especially the logs with `invalid_api_key`)? It's possible that somewhere in your code or Braze UI code, an Appboy instance is being initialized before it's properly configured by segment

[2019-06-14 08:15] J-Mendes commented on #21
@Bucimis thanks for the response. Yes, with version `3.14.0` everything works fine but with `3.14.1` it breaks. I give you some logs of the two versions obtained from the example app and I only do the following: open app, identify and open NewsFeed. I don't think the case is that an Appboy instance is being initialized before because I can replicate the same issue with the example project.

**Logs

[2019-06-28 02:06] Bucimis commented on #21
@J-Mendes apologies for the late response. The `invalid_api_key` is a smoking gun here - I think you're affected by an endpoint configuration issue that affects Segment integrations using Braze iOS SDK >3.14.1. For now, could you continue using 3.14.0? We're working on a release that will allow our Segment users to use >3.14.1.

[2019-07-01 01:46] Bucimis commented on #21
@J-Mendes we fixed an issue that could cause `invalid_api_key` errors in our latest release - could you try pulling the latest release and see if that fixes things for you? (particular when going from 3.14.0 to 3.14.1)

[2019-07-01 01:48] Bucimis commented on #17
@JohnTheBastard @farshadtx @alexis-letexier hey everyone - could you shout if this is still on your radar?

[2019-07-01 01:49] Bucimis commented on #19
@tanduynguyen were you able to find a workaround?

[2019-07-01 18:23] J-Mendes commented on #21
@Bucimis I've tried the latest version with the 3.15.0 and everything seems ok now. Thanks for helping to solve this!

[2019-07-01 19:00] Bucimis commented on #21
@J-Mendes thanks for following up and thanks for all your help, much appreciated

[2019-07-01 19:00] #21 closed

[2019-07-30 10:13] danielgalasko opened #23 "Missing "Ad" property for campaign install attribution"
Recently, we have noticed that the integration does not actually propagate the "Ad" field through from Segment.

The code from https://github.com/Appboy/appboy-segment-ios/blob/cca974323711ffa84fbdf904017ea2271c69c6d0/Pod/Classes/SEGAppboyIntegration.m#L180 is missing it. For reference it looks as follows:

[code]

Notice how only ad group, name, source and creative are there. This leads to broken

[2019-07-30 10:21] danielgalasko commented on #23
Furthermore it seems `ABKAttributionData` does not even have this field. Is it supposed to be mapped as `creative`?

[2019-07-31 14:41] danielgalasko commented on #23
I realise this was an issue with our links. Sorry!

[2019-07-31 14:41] #23 closed

[2019-09-11 14:25] ignotusverum opened #26 "Support for braze 3.19.0"
Can we please add support for v `3.19.0` <- https://github.com/Appboy/appboy-ios-sdk/releases/tag/3.19.0

[2019-09-11 14:40] chshapiro commented on #26
Hey @ignotusverum,

We are working on this right now and plan to release it in the next day or two.

Thanks,
Chava

[2019-09-11 16:59] chshapiro commented on #26
Hey @ignotusverum,

This is live now in version 2.1.0.

[2019-09-11 16:59] #26 closed

[2019-09-11 17:43] ramshandilya-earnin opened #27 "pod install adds an older version"
I'm trying to install Segment-Appboy with the latest `2.1.0` version.
`Podfile` -
[code]

When I run `pod install`, I see older versions of the SDKs being installed -
[code]

[2019-09-11 17:53] chshapiro commented on #27
Hey @ramshandilya-earnin,

We're unable to repro this behavior. Maybe it's a cache problem? Can you try deleting your `Pods` folder and trying again? Also what you happens if you specifically specify `2.1.0` in your Podfile?

Thanks!

[2019-09-11 18:02] ramshandilya-earnin commented on #27
Tried `pod cache clean --all`, same result.
Also, tried with -
[code]
Getting this error -
[code]

[2019-09-11 18:10] chshapiro commented on #27
Hey @ramshandilya-earnin,

Can you share your full Podfile?

[2019-09-11 18:22] ramshandilya-earnin commented on #27
I'm not sure if I can share the entire podfile. I'll share what I think is relevant -
[code]

Does this help?

[2019-09-11 18:36] ramshandilya-earnin commented on #27
I believe it uses `3.6.10` and not `3.7.0`of `Analytics`. Do you think that's causing this?
Deleting `Podfile.lock` didn't help as well.

[2019-09-11 19:03] chshapiro commented on #27
I don't think - when I use `3.6.10` everything works fine.
Do you support iOS 8 in your app? And are you pulling in SDWebImage in your Podfile?

[2019-09-11 19:50] ramshandilya-earnin commented on #27
We're supporting iOS 11 and up.
We're not adding `SDWebImage` in the Podfile either.
`pod update` also didn't help

[2019-09-11 19:53] ramshandilya-earnin commented on #27
I tried on a new project and it looks like I'm not facing this issue there. So I guess it's something wrong with our repo then.

[2019-09-11 19:53] #27 closed

[2019-09-11 19:54] ramshandilya-earnin commented on #27
That said, any pointer to why we're facing this would be helpful.
Thanks!

[2019-09-25 18:03] alan-andrade commented on #17
Hi!  this is on my radar now. Trying to get this working with Carthage if possible.

[2019-10-15 23:20] bdrelling opened #29 "[Request] Implement Swift Package Manager Support"
Just wondering if (or when?) we'll get Swift Package Manager support for this library. (Specifically `Core`, not `UI`.)

[2019-10-16 17:39] Bucimis commented on #29
@bdrelling thanks for raising! SPM support is on our product roadmap but we don't have an estimate at this time

[2020-01-29 02:45] bdrelling commented on #29
@Bucimis Just wanted to know if this was in the works at all? 🤞

[2020-01-29 18:43] Bucimis commented on #29
@bdrelling still in our roadmap at this point, my best guess would be sometime during H1. Thanks for your patience and for checking in

[2020-02-10 19:17] bricepollock opened #31 "Full pod fights Xcode settings and always dirties git"
Summary:
When I install the full pod:
pod "Segment-Appboy"

It modifies a bunch of settings in the project. If I commit these changes and open Xcode, then Xcode modifies a bunch of settings back...

[patch.txt](https://github.com/Appboy/appboy-segment-ios/files/4182627/patch.txt)

Critical Issue:
Our CI continuously fails b/c we try to upload a build after pod installing, but it dirties git and th

[2020-02-11 18:33] Bucimis commented on #31
@bricepollock what version of cocoapods are you using?

[2020-02-11 18:38] bricepollock commented on #31
cocoapods (1.8.4)
cocoapods-check (1.1.0)
cocoapods-core (1.8.4)
cocoapods-deintegrate (1.0.4)
cocoapods-downloader (1.3.0, 1.2.2)
cocoapods-plugins (1.0.0)
cocoapods-search (1.0.0)
cocoapods-stats (1.1.0)
cocoapods-trunk (1.4.1)
cocoapods-try (1.1.0)

[2020-02-18 09:16] kushalpal17 opened #32 "import Segment-Appboy unable to import it in swift project"
I have to integrate braze with segment, I am using Cocoapods Segment-Appboy, '3.21.3'. I am not able to import it

[2020-02-18 10:03] #32 closed

[2020-02-21 01:10] ndonald2 commented on #31
I'm on @bricepollock's team and I helped dive into this today. Through a lot of guess and check, I made some interesting discoveries. The issue is actually rooted in `Appboy-iOS-SDK`, not the Segment integration (happy to open an issue there instead if preferred, @Bucimis).

The thing that's triggering the git fight appears to be the way the localized strings files are included. By changing the `A

[2020-02-21 01:17] ndonald2 commented on #31
This seems to be the key - would it be possible to use pre-built resource bundles for the AppBoy UI stuff instead of just loose resource files? Like how it's done here: https://github.com/Appboy/appboy-ios-sdk/tree/master/AppboyKit/Appboy.bundle

[2020-03-24 14:54] bricepollock commented on #31
In support conversations, Braze claims this is the fault of Cocoapods. Irregardless of the issue only happening with the Appboy SDK...

You can follow the cocoapods issue here: https://github.com/CocoaPods/CocoaPods/issues/8689

[2020-04-14 17:07] bricepollock commented on #7
@briancaw can you provide a reference PR or something we can use to track this work?

I don't see any open issues or PRs that address this?

[2020-04-14 18:00] Bucimis commented on #7
@bricepollock Custom attribute array support was added in this commit https://github.com/Appboy/appboy-segment-ios/commit/9625d925bcab2ed58f4660637e042efc9ccef0b5#r38491680 (v2.0.0 https://github.com/Appboy/appboy-segment-ios/blob/master/CHANGELOG.md#200)

[2020-04-29 13:17] matiasvillaverde commented on #29
@Bucimis Do we have an update on this? This will be a really nice feature

[2020-04-29 14:59] Bucimis commented on #29
@matiasvillaverde thanks for getting in touch! This is still on our roadmap but may slip a bit from the timeline I mentioned earlier - we pushed back our work on SPM support for `appboy-ios-sdk` (which this library depends on) while waiting for first-class binary dependency support in SPM, which we need since that library is only partially open-sourced.

[2020-05-07 16:35] bdrelling commented on #29
@Bucimis This is now causing active downgrades in our repo due to the decision to try out the `InAppMessage` spec, which pulls in `SDWebImage` from CocoaPods, thereby forcing us to remove `SDWebImage` from SPM.

In the meantime while waiting for 5.3 which includes binary dependency support, can you change the dependencies in your spec such that we could use our own version of `SDWebImage` in SPM a

[2020-05-12 19:09] kamaldeep-earnin opened #35 "Insecure API usage"

[2020-05-12 23:08] #35 closed

[2020-05-28 00:59] popei69 commented on #17
Hi there! Is there any new update for Carthage support? I'm looking into integrating Braze + Segment SDK together through this repo. Thanks!

[2020-05-28 15:56] hokstuff commented on #17
Hi @popei69,

The dev team is currently working on adding Carthage support to the Braze + Segment SDK. We'll keep you updated for when we release it, thanks!

[2020-06-16 14:43] jskrepnek opened #37 "Support screen method"
Is there a reason why this method is not supported?

[2020-06-18 21:46] chshapiro commented on #17
Hey all,

We just released version 3.2.0 of the Braze + Segment SDK which adds Carthage support. Feel free to open a new thread if you run into any issues when integrating.

[2020-06-18 21:46] #17 closed

[2020-06-22 01:00] jimmyhoran opened #38 "Binary Project Specification for Carthage"
After trying to use the new Carthage support, it wasn't until I tried to checkout and build the dependency with Carthage that I realised it doesn't support building with Carthage.

[code]

It would be great if you could provide and manage a Binary Project Specification and consider updating the read me to mention that the dependency binary download only.
https://github.com/Carthage/Carthage/blob/m

[2020-06-23 01:03] davidbielik commented on #37
Hi @jskrepnek thanks for raising this. We don't support the screen method as our SDK wouldn't typically need the equivalent of "pageview/screen" tracking that analytics companies use, since our messaging is trigger/event based.

I'd recommend reaching out to our support team with this feedback to help you with your specific scenario and environment, while I'll log this as product feedback. Feel fr

[2020-06-23 01:03] #37 closed

[2020-06-23 01:27] Bucimis commented on #38
Hi @jimmyhoran,

1) Could you share the contents of your Cartfile for analytics-ios, appboy-ios-sdk and appboy-segment-ios?
2) Could you try deleting your `Carthage` build folder and trying again?
3) Do you have Cocoapods installed on your machine, and if so, what version?

[2020-06-23 05:01] jimmyhoran commented on #38
@Bucimis just to clarify for you, the error below is expected when running `carthage update --no-use-binaries`.
[code]

Because `appboy-ios-sdk` and `appboy-segment-ios` dependencies are only available as binary,  I asking if you could publish a Binary Project Specification to make it easier to use the dependencies when using `carthage update --no-use-binaries`.
https://github.com/Carthage/Carthag

[2020-06-24 01:31] Bucimis commented on #38
@jimmyhoran thanks for the additional information. `appboy-ios-sdk` already contains a Binary Project Specification (see https://github.com/Appboy/appboy-ios-sdk/blob/master/appboy_ios_sdk.json) and I was able to repro it not building with `--no-use-binaries` enabled. My guess is that `--no-use-binaries` doesn't respect Binary Project Specifications. What happens if you run `carthage update` witho

[2020-06-24 02:34] jimmyhoran commented on #38
@Bucimis that's is correct and expected, `--no-use-binary` requires an explicit reference to a binary specification like so:
[code]

Great to see that you have a binary project specification for `app-ios-sdk`, wasn't aware that was available.
Do you have a binary project specification available for `appboy-segment-ios`?

[2020-06-24 22:04] Bucimis commented on #38
@jimmyhoran thanks for the breakdown, we'll add a binary project spec in our next release.

[2020-06-24 22:57] jimmyhoran commented on #38
Awesome. Thanks @Bucimis  🙏

[2020-08-13 09:51] mrunalabhatt opened #40 "Missing arm64 symbols for appboy-ios-sdk and failing with Xcode 12"
I have recently downloaded Xcode 12.4 and updated all my Pods to latest. One of Pod was having entry for segment

[code]

This Pod internally has dependency with appboy-ios-sdk, so once after pod install succeeded, building through Xcode gives below compile error for build target appboy-ios-sdk:

[code]

Which Segment pod version should I connect to support iOS 14 and XCode 12 ?

Ref: https://gith

[2020-08-13 23:20] chshapiro commented on #38
Hey @jimmyhoran,

This was released in version 3.3.0. Feel free to open a new issue if you have any further questions.

[2020-08-13 23:20] #38 closed

[2020-08-13 23:26] chshapiro commented on #40
Hey @mrunalabhatt,

Our `Segment-Appboy` pod is not currently compatible with Xcode 12. We have released a beta `Appboy-iOS-SDK` that can be used to test on Xcode 12. If you'd like to test with that, you can add `pod 'Appboy-iOS-SDK', '3.27.0-beta1'` to your Podfile and it'll override the version of `Appboy-iOS-SDK` used in the `Segment-Appboy` pod.

We plan to release a version of `Segment-Appboy

[2020-08-16 08:40] mrunalabhatt commented on #40
hi @chshapiro  - thanks for your response.

Here what I have tried with my podfile
[code]

When I ran `pod install`, it gives me this error:
[code]

Can you please guide me how to get both these pods installed ?

[2020-08-17 14:15] rathishnk commented on #40
Could you try `pod install --repo-update`

[2020-08-18 17:27] chshapiro commented on #40
Hey @mrunalabhatt,

After further investigation, the beta version of `Appboy-iOS-SDK` is not compatible with the Segment SDK. We are also unable to repro the error you are getting when pulling in version 3.26.1 of `Appboy-iOS-SDK`. Can you provide some more information about your setup - which beta version of Xcode 12 are you using? Are command line tools using Xcode 12 as well?  And are you using

[2020-08-18 20:10] mrunalabhatt commented on #40
May be this can be an issue : https://github.com/Appboy/appboy-ios-sdk/issues/245#issuecomment-675465529

I haven't verified with device but will try out.

[2020-08-18 21:59] pmacro commented on #40
Hi, @chshapiro.  To be clear: there's no way to run `Segment-Appboy` when compiling against SDK 14, correct?  Because to do so requires the beta AppBoy, but there's no `Segment-Appboy` pod that depends on that rather than the latest stable `AppBoy`, hence @mrunalabhatt 's error?

Are there any plans to provide a compatible beta of `Segment-Appboy`?  Given all the IDFA changes coming in IOS 14, wou

[2020-08-18 22:10] chshapiro commented on #40
Hey @pmacro,

Have you tried compiling the current version of `Segment-Appboy` (using a stable version of `Appboy-iOS-SDK` against iOS 14? We were successful in doing so and weren't able to repro the error above.

@pmacro and @mrunalabhatt, would it be helpful to you if we would push a branch to our repo that will depend on the beta version of `Appboy-iOS-SDK` and you can use that in your testing?

[2020-08-18 22:22] pmacro commented on #40
@chshapiro, thanks for the quick response.

Yeah, that would be really helpful.  Thank you!

I haven't tried with a stable version as that's not working with the Simulator, see: https://github.com/Appboy/appboy-ios-sdk/issues/245#issuecomment-675465529.  I would expect that to build for a device, though.

Thanks again.

[2020-08-18 22:40] chshapiro commented on #40
@pmacro we will try to have that branch up within the week. Have you tested yourself using the stable version? We are able to build that on both simulator and device, and that can also be used to test some features on iOS 14.

[2020-08-18 23:41] pmacro commented on #40
@chshapiro that's great--thanks.  I have tried the stable Appboy version:

[code]

I get the error detailed in https://github.com/Appboy/appboy-ios-sdk/issues/245#issuecomment-675465529, however.

[2020-08-19 08:58] mrunalabhatt commented on #40
Based on initial comment which I posted:
[code]

It says we are missing `libAppboyKitLibrary.a for architecture arm64`, so how about adding one for simulator build support for both the Pods. I think that should solve this problem.

[2020-08-19 21:17] pmacro commented on #40
@mrunalabhatt they do have a fix for that issue in `pod 'Appboy-iOS-SDK', '3.27.0-beta1'`, the remaining issue, as I see it, is that there's no `Segment-Appboy` version that can work with that.  @chshapiro 's offer to push a branch of `Segment-Appboy` that depends on the fixed ` 'Appboy-iOS-SDK', '3.27.0-beta1'` should unblock this, though.

[2020-08-19 23:42] pmacro commented on #40
A temporary workaround: set Build Active Architecture Only to YES in the Pods Xcode project for targets `Appboy-iOS-SDK` and `Segment-Appboy` using stable builds.

[2020-08-25 19:48] bricepollock commented on #7
Hello @Bucimis and @briancaw it looks like this PR was pulled into 3.0.0.

So I updated my pods
[code]

However, I still see the errors after updating:
2020-08-25 12:45:44.151716-0700 betterup[73506:7261755] [APPBOY] Invalid Property Value class Swift.__SwiftDeferredNSArray for key client_features_enabled. Not retaining.

Should I consider this a new issue?

[2020-08-25 19:49] bricepollock commented on #31
Can no longer reproduce with:
[code]

[2020-08-25 19:49] #31 closed

[2020-08-25 19:57] chshapiro commented on #7
Hey @bricepollock,

This looks like an error you may be getting when trying to include an array in the `properties` dictionary for a custom event. That is not currently supported by the SDK. Is that something you are trying to do in your app?

[2020-08-26 04:13] chshapiro commented on #40
Hey all,

We just released version `3.4.0-beta1` of the `Segment-Appboy` SDK which depends on the `3.27.0-beta2` version of `Appboy-iOS-SDK`. This version can be used to beta test the SDK on iOS 14 using Xcode 12.  You can integrate this version using Cocoapods but you will need to explicitly specify the beta version in your `Podfile`.

Please let us know if this release fixes the issues you have

[2020-08-26 12:44] mrunalabhatt commented on #40
@chshapiro  Thank you!

[2020-08-26 12:44] #40 closed

[2020-08-26 14:58] bricepollock commented on #7
Yes @chshapiro that is exactly the use case. I had thought the AppBoy SDK would handle all the properties that Segment can handle, but it seems not to be the case with arrays.

Is there a way to disable these messages in console?

[2020-08-26 16:16] chshapiro commented on #7
Hey @bricepollock,

Unfortunately the only way to disable this particular log would be to completely turn off logging which we do not recommend doing.

[2020-09-01 15:52] bricepollock commented on #7
@chshapiro do you have it on your roadmap to support arrays or to provide an opt out of verbose logging? It fills the console to make it unreadable and Braze is the only tool that doesn't support these data.

[2020-09-01 16:05] chshapiro commented on #7
Hey @bricepollock,

If you have verbose logging on, you can turn it on by following the [docs](https://www.braze.com/docs/developer_guide/platform_integration_guides/ios/initial_sdk_setup/other_sdk_customizations/#braze-log-level) but this particular log will be logged regardless unless you completely turn off all logging which is not recommended.

The `Appboy-iOS-SDK` currently does not support c

[2020-09-01 16:19] bricepollock commented on #7
Can you provide a way to disable this log in the meantime then? Its not possible to pass braze separate properties since braze is integrated into our segment events.

[2020-09-15 18:35] pmacro commented on #40
Hi @chshapiro, I was wondering if you'd be able to share plans on the release of a non-beta 3.4.0, that's compatible with Xcode 12?  iOS 14 will be released tomorrow, as you may have seen.  Once the GM Xcode is available, can we expect a release fairly quickly, or could be it longer than a few days?  I'm just trying to plan a iOS 14 release of my app, and this information would help a lot!  Thank

[2020-09-15 18:38] chshapiro commented on #40
Hey @pmacro,

We are testing now with GM and will release 3.4.0 within a few days.

[2020-10-26 14:17] yawaraym opened #41 "Not compatible with official 4.1.0 Segmentent SDK release."
Import statements are breaking in this project and does not compile. see: https://github.com/segmentio/analytics-ios/releases/tag/4.1.0

[2020-10-27 12:00] xavierjurado commented on #41
+1, we need an update to this integration keet as soon as possible to be able to use the new iOS 14 tracking methods supported by Segment 4.1.

[2020-10-27 13:23] chshapiro commented on #41
Hey @yawaraym and @xavierjurado,

Thanks for reporting this! We will release an update with this change in the coming days.

[2020-10-27 14:40] xavierjurado commented on #41
Thanks @chshapiro , much appreciated!

[2020-10-27 22:04] bdrelling commented on #29
@Bucimis how we looking on this one? Any chance of getting it soon? 🤞🏻

[2020-10-27 22:18] Bucimis commented on #29
@bdrelling we just released support for SPM for the iOS SDK last week and this SDK is next in line (and should be much simpler). I don't have an exact timeline but it's definitely on our roadmap for the next few months

[2020-10-28 05:53] hassanilyas commented on #41
@chshapiro Could you give us an idea about the dates for this fix?

[2020-10-28 13:04] chshapiro commented on #41
Hey @hassanilyas,

We hope to have this released by tomorrow the latest.

[2020-10-28 16:47] chshapiro commented on #41
Hey all,

We just released version 3.5.0 which is compatible with 4.1.0 Segment SDK. Feel free to reopen the issue if you have any further questions.

[2020-10-28 16:47] #41 closed

[2020-10-28 18:13] xavierjurado commented on #41
Thanks @chshapiro, much appreciated!

[2020-11-02 13:52] hassanilyas commented on #41
Thanks, @chshapiro

[2020-11-13 20:04] iosjillian opened #42 "[Request] Update to Analytics-iOS 4.1.2"
Our project is experiencing [this crash](https://github.com/segmentio/analytics-ios/issues/959) which has since been fixed in [4.1.2](https://github.com/segmentio/analytics-ios/releases/tag/4.1.2) of the Analytics-iOS library. When will an update to this library be available? Thank you so much! Normally I would wait and watch, but we're trying to get a release out the door and any sort of timeline

[2020-11-13 20:12] chshapiro commented on #42
Hey @iosjillian,

We automatically pull in the latest version of the Analytics library. Try running `pod update` and version 4.1.2 should be pulled in. Feel free to reopen the issue if you still run into issues.

[2020-11-13 20:12] #42 closed

[2020-11-25 20:34] chshapiro commented on #29
Hey @bdrelling and @integer256,

We just released version 3.6.0 of the SDK which adds support for Swift Package Manager 🎉 .
Please feel free to open a new issue if you run into any problems when integrating.

Thanks!

[2020-11-25 20:34] #29 closed

[2020-12-09 21:16] khaptonstall opened #43 "Integrating via SPM fails to compile with multiple errors"
I'm attempting to integrate using the new SPM integration steps but am encountering a couple build issues, even on a fresh project.

**Steps to Reproduce:**
1. Create a brand new iOS project (using Storyboards vs SwiftUI)
2. Follow the steps in the v3.6.0 [release notes](https://github.com/Appboy/appboy-segment-ios/releases/tag/3.6.0) to add appboy-segment-ios via SPM (selecting the Full-SDK optio

[2020-12-16 18:13] bdrelling commented on #43
Any word on this? It's also stopping us from migrating a number of dependencies from CocoaPods to SPM.

[2020-12-18 16:03] chshapiro commented on #43
Hey @khaptonstall and @bdrelling,

We have been able to repro and are investigating this issue.

[2020-12-21 22:09] chshapiro commented on #43
Hey @khaptonstall and @bdrelling,

We just released version 3.6.1 which includes a fix for this issue. If you have any further questions, feel free to reopen the issue.

[2020-12-21 22:10] #43 closed

[2020-12-22 17:01] khaptonstall opened #44 "SPM Library Names Not Clear"
The current library names are `Full-SDK` and `Core`, which lead to import statements such as `import Full_SDK` and `import Core` - these names give the reader no insight into what library is being imported.

A couple examples of library names that would clearly indicate what is being imported:
- `Full-SDK` -> `AppboySegment`
- `Core` -> `AppboySegmentCore`

Can a rename please be considered?

[2020-12-22 17:05] chshapiro commented on #44
Hey @khaptonstall,

Thank you for your suggestion! I definitely see how this can be confusing and we will consider a rename.

[2020-12-23 11:19] sclown opened #45 "iframe opens fullscreen"
We want to embed youtube video inside a custom message. And it works fine on Android.
But on iOS it is interpreted as click:
ABKInAppMessageHTMLBaseViewController catches iframe load as
"- (void)webView:decidePolicyForNavigationAction:decisionHandler:"
and calls:
[parentViewController
    inAppMessageClickedWithActionType:self.inAppMessage.inAppMessageClickActionType
    URL:url
    openURLInWebVi

[2020-12-23 12:20] #45 closed

[2021-01-26 13:52] mickyzinho commented on #19
Any news here? Is it possible to use the segment integration with tvOS?

[2021-01-26 18:39] chshapiro commented on #19
Hey @mickyzinho,

This feature is on our roadmap and we will continue to update this thread as we have updates.

Thank you!

[2021-03-09 00:12] bstillitano opened #46 "Unable to import via SPM"
When importing via SPM, I receive the following error:
![image](https://user-images.githubusercontent.com/40552246/110398590-425ae600-80c8-11eb-8dbf-bb79f514937a.png)

[2021-03-09 00:15] Bucimis commented on #46
@bstillitano what happened when you deleted the `resolved` file?

[2021-03-24 14:31] pmahend1 opened #47 "Will there be Xamarin support?"
Hello ,

We are integrating Braze through Segment in our Xamarin Forms project.
Will you provide Xamarin bindings for this repository?

If not you could you please provide instructions how can we achieve the same behavior ? Please update documentation for this feature through Xamarin as well.

[2021-03-24 15:45] chshapiro commented on #47
Hey @pmahend1,

We don't currently have plans to support this integration. If you would like to request this feature, you can contact your CSM to have the request tracked internally.

Thanks!

[2021-03-24 15:45] #47 closed

[2021-05-13 19:01] pvinis commented on #15
I know it's almost 4 years later, but we are having the same issue.

From Podfile.lock:
- SDWebImage (3.7.3)
- Segment-Appboy (2.0.3)
- Segment-Appboy/Full-SDK (2.0.3)
- Appboy-iOS-SDK (2.25.0)

We get the same error, undeclared identifiers for `ABKSDKFlavorKey` and `SEGMENT`.

You could even look at the code if you need, here https://github.com/artsy/eigen/pull/4732.

[2021-05-13 19:09] chshapiro commented on #15
Hey @pvinis,

As mentioned above, if you're still using SDWebImage 3.x, you'll need to either use `Segment-Appboy` version 1.0.4 or use SDWebImage 4.0.

[2021-05-17 10:40] pvinis commented on #15
Hm. I remember trying to use 1.0.4 but failed. I will give it another try.

[2021-05-26 17:13] chshapiro commented on #19
Hey @tanduynguyen @mickyzinho,

Our newest release 4.1.0 includes tvOS support.

Please let us know if you have any further questions.

[2021-05-26 17:13] #19 closed

[2021-06-03 08:52] bernikovich opened #48 "Side-by-side integration without REST API"
Hello guys
I’m trying to integrate Segment and Braze side-by-side. Documentation says that I don’t need to add Rest API key, but while trying to debug my code I noticed that this is not the case. Can you help me?

from docs:

Important:
For the side-by-side integration, inputting the “Braze REST API Key” into your Braze’s Connection Settings in the Segment Dashboard

[2021-06-03 13:14] chshapiro commented on #48
Hey @bernikovich,

If you're only using side-by-side inegration, you do not need to set the Rest API key. You do need to set the API Key. If you're still running into issues during debugging, please let us know what errors you are seeing.

[2021-06-03 13:14] chshapiro commented on #46
@bstillitano are you still experiencing this issue?

[2021-06-09 14:06] bernikovich opened #49 "Can we see updates from Appboy 4.2.0?"
It is as simple as updating dependency. I don't see any significant changes in the main framework. Just bug fixes that we need. Thanks! :)

[2021-06-09 14:07] #48 closed

[2021-06-09 14:08] tbelote commented on #49
The significant changes are in Content Cards and News Feed, you are correct that the main framework just has bug fixes. You also should wait for 4.2.1 which should be out soon and fixes a critical bug with Classic Content Cards that have an image in them.

[2021-06-14 11:47] #49 closed

[2021-08-16 18:33] molenick-mov opened #50 "How to configure in a project with a Swift AppDelegate?"
I want to configure this for use in a new project using Swift, but the usage instructions only include Objective C instructions.

I'm able to load Segment, but I'm not sure how to go about telling the configuration to integrate with Braze:

[code]

I can't find a reference to `SEGAppboyIntegrationFactory` or any way to import it.  I looked into creating bridging headers, but from what I've read it

[2021-08-17 01:30] chshapiro commented on #50
Hey @molenick-mov,

Are you integrating through Cocoapods or Swift Package Manager?

[2021-08-17 14:35] molenick-mov commented on #50
@chshapiro Swift Package Manager

[2021-08-17 22:01] chshapiro commented on #50
Hey @molenick-mov,

We will work on adding Swift code snippets but for now you will need to import `Full-SDK` and that will include all the files you need for this integration. We are also looking into making the name more descriptive.

[2021-08-17 22:06] molenick-mov commented on #50
Hi @chshapiro,

It took a few tries, but I was able to import it using a bridging header (https://developer.apple.com/documentation/swift/imported_c_and_objective-c_apis/importing_objective-c_into_swift).

I'll detail the steps here in case anyone else encounters this issue:
1. Add a new header file to your project (`MyProject-Bridging-Header.h`)
2. Inside, add the following: `#import "SEGAppboyIn

[2021-08-20 17:54] singhhari opened #51 "Carthage support moving forward"
Hey folks,

Noticed the last two updates to the SDK do not include Carthage support but the CHANGELOG indicates a reintroduction will happen in a future version. Is there a timeline for when this will occur?

[2021-08-20 18:57] Bucimis commented on #51
@singhhari not at the moment. Do you current have a workaround or are you working with an old Carthage-supported version?

[2021-08-20 19:16] singhhari commented on #51
The current version we're on (4.0.0) has carthage support but we recently updated our `appboy-segment-ios` dependency and wanted to ensure there was parity between these two.

[2021-08-24 09:59] TimurAsayonok commented on #50
Hello @chshapiro!
Do you have any news about when we can use `import SEGAppboyIntegrationFactory` instead of `#import "SEGAppboyIntegrationFactory.h"`?

it will really help us not to add `bridging header` solution.
Thanks!

[2021-08-30 15:13] check4ismail opened #52 "No matching actions for trigger event push_click"
Hey Braze Team,

I'm receiving in app notification messages to my test device, but whenever I open the message the in app modal I've setup via Braze isn't displaying at all. So far I've done the following:
- Create a draft campaign and ensured it was setup properly
- Verified the in app message was actually delivered to the device via Braze developer console
- Updated Braze SDK (4.3.2)
- Updated S

[2021-08-30 15:45] chshapiro commented on #52
Hi @check4ismail,

Please contact support@braze.com with a link to your campaign and these device logs.

Thank you!

[2021-08-31 06:58] eddernunez-earnin opened #53 "Push Notifications are not getting registered in Appboy SDK"
These couple lines of code need to be refactored as these are deprecated.
https://github.com/Appboy/appboy-segment-ios/blob/0c29ca6719f2559ad966fff5bca9ed01efbb21b2/Pod/Classes/SEGAppboyIntegration.m#L286

https://github.com/Appboy/appboy-segment-ios/blob/0c29ca6719f2559ad966fff5bca9ed01efbb21b2/Pod/Classes/SEGAppboyIntegration.m#L295

This is causing test content cards to not show up in the feed

[2021-08-31 13:24] chshapiro commented on #53
Hey @eddernunez-earnin ,

The code you are referencing is outdated code. Please update to the latest version of the SDK and follow these [instructions](https://github.com/Appboy/appboy-segment-ios/blob/master/CHANGELOG.md#added-5) to use the `UserNotification` framework.

Thanks!

[2021-08-31 13:24] #53 closed

[2021-09-14 03:02] zmian commented on #44
Hi @chshapiro any update on this rename?

[2021-09-14 21:16] chshapiro commented on #44
Hey @zmian,

We're working on this update and will release it in the coming months.

[2021-10-11 02:31] bstillitano commented on #46
Seems to be working properly now, at least compiling with SPM on version 4.3.0. Important to note that the issue persists with 4.2.0. Closing issue for now.

[2021-10-11 02:31] #46 closed

[2021-10-20 14:51] chshapiro commented on #50
Hey @TimurAsayonok ,

We are working on updating our [package names](https://github.com/Appboy/appboy-segment-ios/issues/44). This change will be released in the coming weeks.

[2021-10-21 13:22] chshapiro commented on #50
Hey @TimurAsayonok ,

Please make sure that your Braze destination is set up correctly on the Segment dashboard. If you still have further questions, please reach out to Segment to help with this issue.

Thanks!

[2021-12-02 12:10] nickruddeni opened #54 "Notify when AppBoy SDK is setup."
There doesn't appear to be a documented method, using the side-by-side integration, to know when the AppBoy `sharedInstance` has been configured and is ready to use. The Android version has an onSdkReady callback that can be hooked into for this purpose. It's quite important to do this so we can set some user properties immediately.

How would you advise doing this?

[2021-12-08 03:42] chshapiro commented on #54
Hey @nickruddeni,

You can use Segment's notification [`SEGAnalyticsIntegrationDidStart`](https://github.com/segmentio/analytics-ios/blob/d1bf7a41444d7598d85918e0bf10023b2e2ac91b/Segment/Internal/SEGIntegrationsManager.h#L21) to notify you when Appboy has been initialized.

[2021-12-14 10:57] miquelalvarado opened #55 "Issue opening Universal Links when app is inactive"
Hi,

### Context
We have found an issue with opening universal links received in remote notifications while the app is inactive (it works properly though while the app is in background or foreground). It's worth mentioning that we are using the `UNUserNotificationCenter` approach instead of the old `didReceiveRemoteNotification` way.

### Our implementation
Following [Braze documentation](https://

[2021-12-20 15:28] mattlsteinberg commented on #55
Hi @miquelalvarado,

Please reach out to support@braze.com with a copy of your AppDelegate, verbose logs from a reproduction of this issue, and a reference to this issue page. We'd like to take a closer look and attempt to reproduce it on our end.

Thanks!

[2022-04-23 00:51] fallaha13 opened #58 "Sample project no longer works unless SDK endpoint specified"
If you run the app you'll get an error about an invalid SDK endpoint. This used to not be the case. There should be a better way to alert people who adopt  Side by Side integration pod that the app will not work at compile time.

[2022-04-25 14:16] chshapiro commented on #58
Hey @fallaha13,

Thanks for raising this issue. You can add your [endpoint](https://www.braze.com/docs/developer_guide/platform_integration_guides/ios/initial_sdk_setup/completing_integration/#compile-time-endpoint-configuration-recommended) to the plist to customize the app to work with your data cluster. We will add a note about this in the repo.

[2022-04-25 14:16] #58 closed

[2022-04-30 03:57] fallaha13 opened #59 "Calling identify with braze_id in the context traits payload doesn't update anything."
https://segment.com/docs/personas/identity-resolution/identity-resolution-settings/

Following the documents braze_id in the identify payload doesnt automatically map as the user ID in braze.

[2022-05-02 14:54] Bucimis commented on #59
Hi @fallaha13, in the side-by-side integration, you should use the `userId` field to set the external user Id in Braze (https://github.com/Appboy/appboy-segment-ios/blob/a7a58bf045140ac5d4303e38851993cefb07c53b/Pod/Classes/SEGAppboyIntegration.m#L104)

[2022-05-04 17:29] fallaha13 commented on #59
My company has a different use case for user ID. The field User ID needs to be a different value then what we populate braze with.

[2022-05-04 17:54] fallaha13 commented on #59
If we do that creates a duplicate user within Braze.

[2022-05-08 02:27] fallaha13 commented on #59
@Bucimis Like I said I tried that and it created duplicate users. We had to manually overwrite the segment app boy integration identify call to have it work properly. I made changes here to avoid confusion for future adopters.

 https://github.com/Appboy/appboy-segment-ios/pull/60

[2022-05-18 17:28] fallaha13 commented on #59
Does anyone look at these issues? Is the repo dead?

[2022-05-18 23:21] davidbielik commented on #59
Hi @fallaha13 the value passed into `changeUser` is meant to be a customer-supplied value so that you can identify users regardless of which device they log into.

For this reason, it's not a supported integration pattern to pass the `braze_id`. Typically, this is not available client-side, and only available for use with our REST API, but may be passed in through Segment's server.

It sounds like

[2022-06-03 14:43] chshapiro opened #61 "test"
test

[2022-06-03 14:44] chshapiro commented on #61
test

[2022-06-03 14:44] chshapiro commented on #61
test comment

[2022-06-03 14:45] chshapiro commented on #61
test comment

[2022-06-03 14:46] #61 closed

[2022-06-03 14:48] chshapiro opened #62 "test issue"

[2022-06-03 14:49] #62 closed

[2022-06-24 21:15] MrJorgeXavier opened #63 "Custom Events with "revenue" params not being sent"
Hi, I've noticed that when we try to send a custom event through Segment SDK that has a param named "revenue", the event  is not sent to Braze.

Analyzing the code, I could verify that on the line 214 in the file [SEGAppboyIntegration.m](https://github.com/Appboy/appboy-segment-ios/blob/master/Pod/Classes/SEGAppboyIntegration.m) exists a logic that prevent the sending of custom events in this case

[2022-09-21 06:44] razvan-sc opened #64 "Update to use the swift version of segment"
Based on the following, there are numerous improvements added in the swift version of the API

https://segment.com/blog/sdk-performance-improvements/

[2022-09-21 21:42] #64 closed

[2022-09-21 21:48] #63 closed

[2022-09-21 21:48] #55 closed

[2022-09-21 21:48] #52 closed

[2022-09-21 21:49] davidbielik commented on #51
closing as we've moved to https://github.com/segment-integrations/analytics-swift-braze

[2022-09-21 21:49] #51 closed

[2022-09-21 21:50] #50 closed

[2022-09-30 11:06] wrbl606 opened #65 "Update Appboy-iOS-SDK to 4.5.1"
I noticed that this integration is using `4.4.1` version of the `Appboy-iOS-SDK` which causes conflicts with your Flutter plugin that I use: https://github.com/braze-inc/braze-flutter-sdk/blob/master/ios/braze_plugin.podspec.

The plugin uses version `4.5.1`, are there any plans for this integration to update the dependency?

[2022-09-30 15:38] chshapiro commented on #65
Hey @wrbl606 ,

We will be releasing an updated version of the SDK next week.

[2022-10-12 15:39] #65 closed

[2022-11-09 23:16] bstillitano opened #66 "Support New Segment Library `analytics-swift`"
Hi team,

Just want to check if there are any plans to support https://github.com/segmentio/analytics-swift? This library is currently one of the very last major integrations to not have added support and it is becoming an issue in newer projects.

[2022-11-10 14:32] Bucimis commented on #66
@bstillitano support for analytics-swift is in our near term roadmap (order of ~weeks). The repo is https://github.com/braze-inc/analytics-swift-braze and you are welcome to test with it, however, the code is not considered officially released on our end yet.

[2022-11-10 19:39] bstillitano commented on #66
Thanks @Bucimis much appreciated. Will give it a go and see how we get on.

[2022-11-11 09:56] bstillitano commented on #66
Hi @Bucimis i have been able to migrate to the new swift SDK. Thank you for your guidance.

[2022-11-11 09:56] #66 closed